---
import { STATIC_PAGES } from "../config/site";
import { getPageURL } from "../data/site.js";
import footerI18n from "../../public/data/footer-i18n.json" with { type: 'json' };

const { lang } = Astro.props;

const ui = footerI18n[lang] || footerI18n.en;

const links = [
  { key: 'products', path: getPageURL('productList', lang) },
  { key: 'solutions', path: getPageURL('solutionList', lang) },
  { key: 'about', path: getPageURL('about', lang) },
  { key: 'updates', path: getPageURL('newsList', lang) },
  { key: 'downloads', path: STATIC_PAGES.downloads[lang] },
  { key: 'knowledge', path: getPageURL('knowledgeList', lang) },
];

const privacyPath = STATIC_PAGES['privacy-policy'][lang];
const contactPath = STATIC_PAGES.contact[lang];
---

<div class="rs-footer-bg-thumb-wrapper">
  <div class="rs-footer-bg-thumb" style="background-image: url('https://img.titan-recycling.com/system/titan-recycling-systems-footer-pattern.webp');"></div>

  <div class="rs-subscribe-area rs-subscribe-one">
    <div class="container">
      <div class="rs-subscribe-wrapper">
        <div class="row g-5 align-items-center">
          <div class="col-xl-3 col-lg-3">
            <div class="rs-subscribe-logo">
              <img src="https://img.titan-recycling.com/system/recycling-systems-titan.png" alt={ui.logoAlt}>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9">
            <div class="rs-subscribe-content" style="display: flex; align-items: center; justify-content: space-between;">
              <div class="rs-subscribe-text"><p>{ui.subscribeText}</p></div>
              <a href={`${contactPath}#get-in-touch`} class="rs-btn blue-bg" style="flex-shrink: 0; width: auto; padding: 10px 50px;">
                {ui.contactUs}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="rs-footer-area rs-footer-two has-theme-blue">
      <div class="container">
        <div class="rs-footer-top">
          <div class="row g-5">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="rs-footer-widget footer-2-col-1">
                <h4 class="rs-footer-widget-title">{ui.aboutTitle}</h4>
                <div class="rs-footer-widget-content">
                  <p class="rs-footer-widget-description">{ui.aboutDesc}</p>
                  <div class="rs-footer-widget-stroke-text">
                    <p class="rs-footer-stroke-text has-theme-blue">Since 2013</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="rs-footer-widget footer-2-col-2">
                <h4 class="rs-footer-widget-title">{ui.usefulLinks}</h4>
                <div class="rs-footer-widget-content">
                  <div class="rs-footer-widget-links has-theme-blue">
                    <ul>
                      {links.map(link => <li><a href={link.path}>{ui[link.key]}</a></li>)}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="rs-footer-widget footer-2-col-3">
                <h4 class="rs-footer-widget-title">{ui.officeAddress}</h4>
                <div class="rs-footer-widget-content">
                  <div class="rs-footer-widget-meta">
                    <div class="rs-footer-widget-address">
                      <a href="https://www.google.com/maps/place/%E4%B8%AD%E5%9B%BD%E6%B1%9F%E8%8B%8F%E7%9C%81%E6%97%A0%E9%94%A1%E5%B8%82%E6%B1%9F%E9%98%B4%E5%B8%82/@31.8362837,120.1304477,11z/data=!3m1!4b1!4m6!3m5!1s0x35b3f08952d244f1:0xa600f5ad8068f8e1!8m2!3d31.9191899!4d120.28432!16zL20vMDI3Nm1z?entry=ttu&g_ep=EgoyMDI2MDYwOS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener">No. 1 Dongde Rd., High-Tech Zone, Jiangyin, Jiangsu, China</a>
                    </div>
                    <h4 class="rs-footer-widget-title">{ui.emailAddress}</h4>
                    <div class="rs-footer-widget-email">
                      <a href="mailto:aaron@titan-recycling.com">aaron@titan-recycling.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="rs-footer-widget footer-2-col-4">
                <h4 class="rs-footer-widget-title">{ui.phoneNumber}</h4>
                <div class="rs-footer-widget-content">
                  <div class="rs-footer-widget-contact-info">
                    <div class="rs-footer-widget-number"><span><a href="tel:8618360809300">+86 183 6080 9300</a></span></div>
                  </div>
                  <h4 class="rs-footer-widget-title">{ui.followUs}</h4>
                  <div class="rs-footer-widget-social">
                    <div class="rs-theme-social has-theme-blue">
                      <a href="https://cn.linkedin.com/in/titan-recycling" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                      <a href="https://www.facebook.com/peter.liu.1232/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.youtube.com/@titan-recycling" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rs-footer-copyright-area rs-copyright-one">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-12">
              <div class="rs-footer-copyright has-theme-blue text-center">
                <p class="underline">{ui.copyright} <span><a href={privacyPath}>{ui.cookiePolicy}</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
