---
import PageBanner from "./PageBanner.astro";
import { getPageURL, buildBreadcrumb } from "../data/site.js";

const { lang, products, productCategories, ui } = Astro.props;
---

<PageBanner
  title={productCategories.pageH1}
  breadcrumb={buildBreadcrumb(lang, [
    { label: ui.products }
  ])}
  background="https://img.titan-recycling.com/system/metal-recycling-equipment-banner.webp"
/>

<section class="rs-feature-area section-space-top rs-feature-two">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-9 col-md-10">
        <div class="rs-section-title-wrapper text-center">
          <h2 class="rs-section-subtitle has-theme-blue">{productCategories.pageModuleOneTitle}</h2>
          <div class="rs-section-title has-theme-blue rs-size rich-text mb-30">
            <p style="font-size:24px;line-height:36px;color:#0C3C61;font-weight:700"
               set:html={productCategories.pageModuleOneDescription} />
          </div>
          <h2 class="rs-section-subtitle has-theme-blue">{productCategories.pageModuleTwoTitle}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rs-services-area rs-services-three section-space has-theme-blue">
  <div class="container">
    <div class="row g-5 process-counts">
      {products.map(product => {
        const productUrl = getPageURL(product.content_id, lang) || '#';
        return (
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="rs-services-wrapper">
              <div class="rs-services-item">
                <div class="rs-services-thumb">
                  <a href={productUrl}>
                    <img src={product.acf?.product_category_img} alt={product.acf?.product_name} />
                  </a>
                </div>
                <div class="rs-services-content">
                  <h5 class="rs-services-title">
                    <a href={productUrl}>{product.acf?.product_name}</a>
                  </h5>
                  <p class="descrip">{product.acf?.product_category_overview}</p>
                  <div class="rs-services-number"></div>
                  <div class="rs-services-btn-wrapper">
                    <div class="rs-services-text-btn underline">
                      <a class="rs-text-btn" href={productUrl}>{ui.viewDetail}</a>
                    </div>
                    <a class="rs-square-btn has-icon has-light-bg" href={productUrl}>
                      <span class="icon-box">
                        <svg class="icon-first" xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 5C0 4.60551 0.319797 4.28571 0.714286 4.28571L8.98985 4.28571L5.92349 1.21936C5.64455 0.940417 5.64455 0.488155 5.92349 0.209209C6.20244 -0.0697365 6.6547 -0.0697365 6.93365 0.209209L11.2194 4.49492C11.4983 4.77387 11.4983 5.22613 11.2194 5.50508L6.93365 9.79079C6.6547 10.0697 6.20244 10.0697 5.92349 9.79079C5.64455 9.51184 5.64455 9.05958 5.92349 8.78064L8.98985 5.71429L0.714286 5.71429C0.319797 5.71429 0 5.39449 0 5Z" fill="#616161"></path>
                        </svg>
                        <svg class="icon-second" xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 5C0 4.60551 0.319797 4.28571 0.714286 4.28571L8.98985 4.28571L5.92349 1.21936C5.64455 0.940417 5.64455 0.488155 5.92349 0.209209C6.20244 -0.0697365 6.6547 -0.0697365 6.93365 0.209209L11.2194 4.49492C11.4983 4.77387 11.4983 5.22613 11.2194 5.50508L6.93365 9.79079C6.6547 10.0697 6.20244 10.0697 5.92349 9.79079C5.64455 9.51184 5.64455 9.05958 5.92349 8.78064L8.98985 5.71429L0.714286 5.71429C0.319797 5.71429 0 5.39449 0 5Z" fill="#616161"></path>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        );
      })}
    </div>
  </div>
</section>

<section class="rs-services-area section-space">
  <div class="container">
    <div class="rs-services-details-wrapper">
      {productCategories.blocks && productCategories.blocks.length > 0 && (
        productCategories.blocks.map((block, index) => (
          <>
            {block.title && (
              <h2 class="rs-section-subtitle has-theme-blue" style="justify-content:left;margin-bottom:30px">{block.title}</h2>
            )}
            {block.description && block.image && (
              <div class="detail-left__html" style="margin-bottom:30px">
                <div style="display: flex; gap: 30px; align-items: flex-start; margin-bottom: 25px;">
                  {index % 2 === 0 ? (
                    <>
                      <div style="flex: 1 1 55%; min-width: 280px;" set:html={block.description} />
                      <div style="flex: 0 0 45%; max-width: 45%;">
                        <img src={block.image} alt={block.title || ''} style="border-radius: 24px; width: 100%;" />
                      </div>
                    </>
                  ) : (
                    <>
                      <div style="flex: 0 0 45%; max-width: 45%;">
                        <img src={block.image} alt={block.title || ''} style="border-radius: 24px; width: 100%;" />
                      </div>
                      <div style="flex: 1 1 55%; min-width: 280px;" set:html={block.description} />
                    </>
                  )}
                </div>
              </div>
            )}
            {block.description && !block.image && (
              <div class="detail-left__html" style="margin-bottom:30px" set:html={block.description} />
            )}
            {block.bottomText && (
              <div class="detail-left__html" style="margin-bottom:30px" set:html={block.bottomText} />
            )}
          </>
        ))
      )}
    </div>
  </div>
</section>

<style>
.rs-services-details-wrapper {
  margin-top: -120px;
}
</style>